services:
    postgres:
        container_name: ${POSTGRES_CONTAINER_NAME}
        image: postgres:latest
        restart: always
        env_file:
            - ".env"
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: /var/lib/postgresql/data/pgdata
        
        volumes:
            - postgres_data:/var/lib/postgresql/data/pgdata
        
        ports:
            - ${POSTGRES_PORT}:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME}"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

volumes:
    postgres_data:
